TestPrestamos/Service References/equiposWS/Equipos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrestamosServicios.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Equipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipo" nillable="true" type="tns:Equipo" />
  <xs:complexType name="ArrayOfEquipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipo" nillable="true" type="tns:Equipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipo" nillable="true" type="tns:ArrayOfEquipo" />
</xs:schema>